/*
Styles for index.html
"Simple Chat Interface"

Author: Jake Florian
Date: 10/1/2014

Filename: style.css
*/



/* Styles for the body */

body {
	min-height: 100%;

	padding: 0;
	margin: 0;
	bottom: 0;
}



/* Styles for the main div wrap */

#everything {
	width: 100%;
	height: 100%;
	text-align: center;

	border: 5px solid black;
	border-radius: 25px;

	background-color: #66C266;
}


/* Styles for the heading */

#everything h1 {
	width: 90%;
	height: 100%;

	font-size: 36px;
	font-family: Impact;
	text-shadow: 2px 3px black;

	border: 10px solid #296614;
	border-radius: 25px; 

	background-color: #E6FFE6;
	color: #00FF00;

	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 10px;
}

/* Styles for the message box */

#messages {
	width: 70%;
	height: 400px;
	
	font-size: 1em;

	border: 2px solid black;
	border-radius: 25px;

	color: white;
	background-color: #E6FFE6;

	display: block;
	margin: 0 auto;
	margin-bottom: 20px;

	overflow: auto;
}

/* Styles for the nav bar */

.navbar div{
	width: 70%;

	text-align: center;
	
	margin: 0 auto;
}

.navbar button {

	width: 10%;
	display: inline-block;
	margin: 0 auto;
}

/* Styles for navbar navigation from js */

#active {
	background-color: #296614;
	color: white;
}

/* Styles for the messages */

#messages p {
	width: 90%;

	text-align: center;
	font-size: 0.8em;
	font-family: Verdana;
	word-wrap: break-word;

	border: 1px solid #0000FF;
	border-radius: 5px;
	margin: 10px 20px 10px 20px;
}

/* Styles for the input div */

#input {
	width: 70%;
	height: 40%;

	text-align: center; ;
	font-size: 1.5em;

	color: white;
	background-color: #296614;

	border-radius: 5px;

	margin: 0 auto;
	margin-bottom: 5px;
	bottom: 0;
}


/* Styles for the input box */

#userMessage {
	font-size: 14px;
	font-family: Impact;

	border-radius: 5px;

	margin-top: 10px;
	clear: both;
}


/* Styles for the button */

#send {
	height: 2em;
	width: 4em;
	vertical-align: middle;

	font-size: 0.7em;
	text-shadow: 2px 2px white;

	border-radius: 25px;

	background-color: #00FF00;

	margin: 0 auto;

	position: relative;
	bottom: 40px;
}


/*Styles for new elements from JS */

/* Styles for name changes */

#changeId {
	width: 50%;

	background-color: white;
	color:red;

	text-align: center;
	font-size: 0.9em;
	font-family: Impact;
	word-wrap: break-word;

	border: 5px solid #66FF66;
	border-radius: 25px;
	margin: 0 auto;
}

/* Styles for new post names */

#nameId {
	color: #004C00;

	text-align: left;

	font-family: Trebuchet, sans-serif;
	font-size: 12px;
	font-weight: bold;

	margin-left: 35px;
}


/* Styles for different strengths */

#strength1 {
	color: black;
	background-color: #94FF70;
}

#strength2 {
	color: black;
	background-color: #85FF5C;
}
#strength3 {
	color: black;
	background-color: #75FF47;
}
#strength4 {
	color: black;
	background-color: #66FF33;
}
#strength5 {
	color: black;
	background-color: #5CE62E;
}
#strength6 {
	color: white;
	background-color: #52CC29;
}
#strength7 {
	color: white;
	background-color: #47B224;
}
#strength8 {
	color: white;
	background-color: #3D991F;
}
#strength9 {
	color: white;
	background-color: #33801A;
}
#strength10 {
	color: white;
	background-color: #296614;
}