/*
Styles for index.html
"Simple Chat Interface"

Author: Jake Florian
Date: 10/1/2014

Filename: style.css
*/


/* Styles for the main div wrap */

#everything {
	width: 100%;
	height: 100%;
	text-align: center;

	border: 10px solid black;

	background-color: #000080;
}


/* Styles for the heading */

#everything h1 {
	height: 100%;

	font-size: 36px;
	font-family: Impact;
	text-decoration: underline;

	border: 10px solid gray;
	background-color: #000033;
	color: white;
}

/* Styles for the message box */

#messages {
	width: 70%;
	height: 350px;
	
	text-align: left;
	font-size: 1em;

	border: 2px solid black;
	border-radius: 25px;

	color: white;
	background-color: #8080FF;

	display: block;
	margin: 0 auto;

	overflow: auto;
}

/* Styles for new post names */

#nameId {
	color: black;

	font-family: Impact;

	margin-left: 35px;
}

/* Styles for new post chat */

#chatId {
	color: white;

	text-align: right;
}

/* Styles for name changes */

#changeId {
	width: 50%;

	background-color: white;
	color:red;

	text-align: center;
	font-size: 0.9em;
	font-family: Impact;
	word-wrap: break-word;

	border: 5px solid #66FF66;
	margin: 0 auto;
}


/* Styles for the messages */

#messages p {
	width: 90%;

	background-color: black;

	text-align: right;
	font-size: 0.8em;
	font-family: Verdana;
	word-wrap: break-word;

	border: 1px solid #0000FF;
	margin: 10px 20px 10px 20px;
}

/* Styles for the input div */

#input {
	width: 100%;

	text-align: center; ;
	font-size: 1.5em;

	border: 2px solid black;

	color: white;
	background-color: #0000FF;

	margin: 40px 0px 0px 0px;
}


/* Styles for the input box */

#userMessage {
	height: 100px;

	font-size: 14px;
	font-family: Impact;

	margin-top: 10px;
}


/* Styles for the button */

#send {
	height: 4em;
	width: 8em;

	font-size: 0.8em;

	border-radius: 25px;

	background-color: #99FF99;

	margin: 10px 10px 10px 10px;
}
